/* VARIABLES */

:root {
  --clr-red: #c12d2d;
  --clr-white: #f4f4f4;
  --clr-overlay: rgba(75, 50, 50, 0.72);
}

/* UNIVERSAL STYLING */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: var(--clr-white);
}

section:not(:nth-child(2)) {
  margin-top: 10rem;
}

h2 {
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
}

.site-wrapper {
  width: min(1440px, 100%);
  margin: 0 auto;
}

.container {
  width: min(965px, 95%);
  margin: 0 auto;
}

.efa-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.efa-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 'box1 box2 box2';
  gap: 2rem;
}

@media (max-width: 500px) {
  .efa-flex {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* HEADER NAVIGATION */

#header__nav {
  position: fixed;
  top: 0;
  left: 0;

  padding: 1rem 0;
  width: 100%;
  background-color: var(--clr-red);
  z-index: 100;
}

#nav-logo,
#header__menu-items a {
  color: var(--clr-white);
  font-weight: 300;
}

#nav-logo {
  font-size: 2em;
  margin: 0;
}

#header__menu-items a {
  margin-left: 30px;
  text-decoration: none;
}

#header__menu-items a:hover {
  border-bottom: solid 1px var(--clr-white);
}

/* HERO SECTIONN */

#section__hero {
  position: relative;
  top: 80px;
}

#section__hero::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--clr-overlay);
}

#section__hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  text-align: center;

  color: var(--clr-white);
}

#section__hero-title h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 5px;
  margin: 0;
}

#section__hero-title h3 {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
}

/* ABOUT SECTION */

.img-circle {
  grid-area: box1;
}

.img-circle img {
  border-radius: 50%;
  padding: 10px;
  border: solid 2px var(--clr-red);
}

/* RESPONSIVE */

@media (max-width: 375px) {
  #section__hero {
    top: 105px;
  }
}

@media (max-width: 768px) {
  .efa-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      'box1'
      'box2';
  }
}
